*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    color: #ffff;
    min-height: 100vh;
    min-width: 100vw;
}

h1{
    font-size: 96px;
    text-align: center;
}

.thumbnail{
    max-height: 200px;
    max-width: 300px;
}

.thumbnail img{
    height: 100%;
    width: 100%;
}