@font-face {
    src: url(src/SFKingstonRegular.otf);
    font-family: kingston;
}


html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 1.3;
}

/* NAVBAR */



nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #110a0aa4;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 100;
    transition: 0.5s;
}

nav:hover {
    transform: scale(120%); 
}

.nav__links{
    margin: auto;
}

.nav__links ul{
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav__links li{
    list-style: none;
}

.nav__links li:hover{
    background-color: rgba(23, 175, 124, 0.74);
    border-radius: 8px;
}

.nav__links li a, .logo a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

 .logo{
    position: absolute;
    left: 20%;
}

.logo a{
    color: rgba(23, 175, 124, 0.74);
    font-family: kingston;
    font-weight: 550;
}

.logo a:hover{

    font-weight: 700;
    
    
}

.checktermbtn a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 7px;
}

.checktermbtn{
    position: absolute;
    right: 20%;
    font-size: 1rem;
    border: 3px solid rgba(23, 175, 124, 0.74);
    border-radius: 10px;
    margin-right: 10px;
}

.checktermbtn:hover{
    transition: 1s;
    background-color: rgba(23, 175, 124, 0.74);
}



.toggle__button{

    display: none;
    flex-direction: column;
    
    width: 40px;
    height: 21px;
}

.toggle__button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 4px;
    margin-top: 4px;
}

@media (max-width: 700px) {
    
    .toggle__button{
        display: flex;
        position: absolute;
        left: 16;
        top: 16       
    }
    .nav__links{
        display: none;
    }
    .logo{
        display: none;
    }
    .checktermbtn{
        position: relative;
        right: 0%;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;        
      }
      nav{
        pointer-events: none;
      }    
}


 /* FIRST SECTION */
 
#homeSection{
    background-image: url(src/firstphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    text-align: center;
    font-size: 10vh;
    color: #ffffff;
    font-family: kingston;
}




#startbutton{
    display: flex;
    justify-content: center;

}

#startarrow{
    color: #ffffff;
    margin-top: 200px;
    animation: up-and-down 1s ease-in infinite alternate;
}

#startarrow:hover{
    border-radius: 24px;
    transition: background-color 1s;
    background-color: rgba(23, 175, 124, 0.74);
    
}

@keyframes up-and-down{

    100%{
        transform: translateY(50%);
    }
    
}

#startarrow:hover{   

    cursor: pointer;    
}

 /* SECOND SECTION */

 #occasionsSection{
    background-image: url(src/secondphoto.jpg);
    background-size: cover;
    background-position: center;
    color: #ffff;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.occasions__container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.firstOccasion{
    background-image: url(src/occasion1.jpg);

}

.secondOccasion{
    background-image: url(src/occasion2.jpg); 

}

.thirdOccasion{
    background-image: url(src/occasion3.jpg);

}
.occasions{
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 10px 10px;
    transition: 1s;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    position: relative;


}

.occasions:hover{
    transform: scale(1.25);
    z-index: 1; 
}

.ocassiontext{

    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    
}

.ocassiontext h2{
    font-size: 3vh;
    margin-bottom: 10px;
}

.ocassiontext span{
    font-size: 2.2vh;
}

 /* THIRD SECTION */

 #LocalizationSection{
    background-image: url(src/thirdphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

#localization__title{
    
    font-size: 10vh;
    color: #ffffff;
    font-family: kingston;

}

.googlemap{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin-top: 10%;
}

 /* FOOTER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
#ContactSection{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}


#ContactSection{

    background-color: rgb(77, 69, 69);

    padding: 70px;
}

#ContactSection ul{
    list-style-type: none;
}
.footermidcontainer{

	max-width: 1170px;
	margin:auto;
    
}

.footerrow{
    display: flex;
    flex-wrap: wrap;
}

.footercolumn{
    width: 30%;
    padding: 0 15px;
}

.footercolumn h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

.footercolumn h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: rgba(23, 175, 124, 0.74);
	height: 2px;
	width: 20%;
}

.footercolumn li a{
    
    letter-spacing: 0.6;
    line-height: 25px;
    text-decoration: none;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.71);
}

.footercolumn .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(23, 175, 124, 0.74);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footercolumn .social-links a:hover{
    background-color: #ffffff;
    color: rgba(23, 175, 124, 0.74);
}



@media(max-width: 767px){
    .footercolumn{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footercolumn{
      width: 100%;
  }
  }