@font-face {
    src: url(src/SFKingstonRegular.otf);
    font-family: kingston;
}


html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* NAVBAR */



nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #110a0aa4;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 100;
    transition: 0.5s;
}

nav:hover {
    transform: scale(120%); 
}

.nav__links{
    margin: auto;
}

.nav__links ul{
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav__links li{
    list-style: none;
}

.nav__links li:hover{
    background-color: rgba(23, 175, 124, 0.74);
    border-radius: 8px;
}

.nav__links li a, .logo a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

 .logo{
    position: absolute;
    left: 20%;
}

.logo a{
    color: rgba(23, 175, 124, 0.74);
    font-family: kingston;
    font-weight: 550;
}

.logo a:hover{

    font-weight: 700;
    
    
}

.checktermbtn a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 7px;
}

.checktermbtn{
    position: absolute;
    right: 20%;
    font-size: 1rem;
    border: 3px solid rgba(23, 175, 124, 0.74);
    border-radius: 10px;
    margin-right: 10px;
}

.checktermbtn:hover{
    transition: 1s;
    background-color: rgba(23, 175, 124, 0.74);
}



.toggle__button{

    display: none;
    flex-direction: column;
    
    width: 40px;
    height: 21px;
}

.toggle__button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 4px;
    margin-top: 4px;
}

@media (max-width: 700px) {
    
    .toggle__button{
        display: flex;
        position: absolute;
        left: 16;
        top: 16       
    }
    .nav__links{
        display: none;
    }
    .logo{
        display: none;
    }
    .checktermbtn{
        position: relative;
        right: 0%;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;        
      }
      nav{
        pointer-events: none;
      }    
}


 /* FIRST SECTION */
 
#homeSection{
    background-image: url(src/firstphoto.jpg);
    width: 100%;
    height: 100%;   
    background-size: 100% 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.midcontainer
{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}


 #title{
    font-size: 10vh;
    color: #ffffff;
    font-family: kingston;
} 


#startbutton{
    display: flex;
    justify-content: center;

}

#startarrow{
    color: #ffffff;
    margin-top: 200px;
    animation: up-and-down 1s ease-in infinite alternate;
}

#startarrow:hover{
    border-radius: 24px;
    transition: background-color 1s;
    background-color: rgba(23, 175, 124, 0.74);
    
}

@keyframes up-and-down{

    100%{
        transform: translateY(50%);
    }
    
}

#startarrow:hover{   

    cursor: pointer;    
}

 /* SECOND SECTION */

 #occasionsSection{
    background-image: url(src/secondphoto.jpg);
    width: 100%;
    height: 100%;   
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstOccasion{
    background-image: url(src/occasion1.jpg);

}

.secondOccasion{
    background-image: url(src/occasion2.jpg); 

}

.thirdOccasion{
    background-image: url(src/occasion3.jpg);

}
.occasions{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transition: 1s;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    position: relative;

}

.occasions:hover{
    transform: scale(1.25);
    z-index: 1; 
}

.ocassiontext{

    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    
}

.ocassiontext h2{
    font-size: 3vh;
    margin-bottom: 10px;
}

.ocassiontext span{
    font-size: 2.2vh;
}

 /* THIRD SECTION */

 #LocalizationSection{
    background-image: url(src/thirdphoto.jpg);
    width: 100%;
    height: 100%;   
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.googlemap{
    margin-top: 10%;
}
